clearing some browser settings h1,
h2,
ul,
li {
    margin: 0px;
    padding: 0px;
}


/* scrolling behaviour */

html {
    scroll-behavior: smooth;
}

#about-me,
#contact-me,
#projects,
#skills {
    scroll-margin-top: 85px;
}


/* main CSS */

body {
    background-image: url(imgs/edit8.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    color: #242221;
    text-decoration: #e3b674;
}

header {
    display: grid;
    opacity: 95%;
    grid-template-columns: auto auto;
    background-color: white;
    /* background bluy color: */
    /* background-color: #7d99b1; */
    position: fixed;
    top: 0px;
    margin: 0, auto;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header ul {
    white-space: nowrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

header li {
    display: inline;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
}

header li a {
    text-decoration: none;
    color: black;
}

header h1 {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 10px;
}

header h1 br {
    display: none;
}

main {
    padding: 0 15%;
    text-align: center;
    /* margin-top: 110px; */
    margin-top: 120px;
    margin-bottom: 20px;
}

main h2 {
    font-family: Geneva, Tahoma, sans-serif;
    margin: 8px;
    padding: 8px;
    font-size: 30px;
    text-align: right;
}

section {
    margin: 8px;
    padding: 5px;
    background-color: rgba(184, 175, 175, 0.40);
    border-radius: 20px;
}

section div.wrappertop {
    height: 560px;
}

.about-me-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    text-align: left;
    margin: 5% 13%;
}

.about-me div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
    line-height: 1.1em;
}

.projects-box {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.project-text {
    /* display: none; */
}

.boxesrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px
}

.boxesrow p {
    width: 80%;
    line-height: 1.4em;
    color: white;
    text-align: left;
    left: 10px;
    position: relative
}

.boxesrow p a {
    text-decoration: none;
    color: white;
    line-height: 1.4em;
}

#leftboxtop {
    background-image: url("imgs/600900p1.jpg");
    height: 230px;
    width: 345px;
    background-size: cover;
    /* padding: 5px; */
}

#rightboxtop {
    background-image: url("imgs/600900p2.jpg");
    height: 230px;
    width: 345px;
    background-size: cover;
    /* padding: 5px; */
}

#leftboxbottom {
    background-image: url("imgs/600900p3.jpeg");
    height: 230px;
    width: 345px;
    background-size: cover;
    /* padding: 5px; */
}

#rightboxbottom {
    background-image: url("imgs/600900p4.jpg");
    height: 230px;
    width: 345px;
    background-size: cover;
    /* padding: 5px; */
}

.skills-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin: 30px;
}

.icons-bar ul {
    white-space: nowrap;
    margin: 0 auto;
    padding: 8px;
    margin: 8px;
}

.icons-bar li {
    width: 33%;
    display: inline-block;
    font-size: 20px;
}

.icons-bar li.left {
    text-align: left;
}

.icons-bar li.center {
    text-align: center;
}

.icons-bar li.right {
    text-align: right;
}

.skills li {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
}

.front-end {
    text-align: right;
}

.back-end {
    text-align: left;
}

.contact-me {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
}

form {
    display: inline-block;
    text-align: left;
}

form input,
form textarea {
    text-shadow: #524c46;
    margin: 5px;
    border: 2px solid #7d99b1;
    ;
    ;
    border-radius: 5px;
}

form .submit {
    text-align: center;
}

footer {
    background-color: #7d99b1;
    ;
    opacity: 97%;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
}


/* pseudo classes */

.navigation :hover {
    background-color: #e3b674;
    border-radius: 30em;
}

.project-text :hover {
    /* display: block; */
}

.boxesrow p :hover {
    background-color: #e3b674;
    border-radius: 5em;
}

.icons-bar a :hover {
    transform: scale(1.2);
}


/* keyframes */

@keyframes fadeoutleft {
    keyframes-selector {}
}

@keyframes fadeinright {
    keyframes-selector {}
}


/* ----------------- */


/* media queries */


/* ----------------- */

@media screen and (max-width: 1875px) {
    main {
        padding: 0 10%;
    }
    #leftboxtop,
    #leftboxbottom,
    #rightboxtop,
    #rightboxbottom {
        height: 210px;
        width: 315px;
    }
}

@media screen and (max-width: 1030px) {
    header {}
    header h1 {
        font-size: 25px;
    }
    .about-me-grid {
        margin: 0 40px;
    }
    main {
        margin-top: 100px;
    }
    main h2 {
        margin: 10px;
        padding: 10px 0;
        font-size: 25px;
    }
    section div.wrappertop {
        height: 500px;
    }
    .about-me div,
    .projects-box,
    .skills li,
    .contact-me,
    footer {
        font-size: 14px;
    }
    /* project text and links becomes visable */
    .project-text {
        display: block;
    }
    #leftboxtop,
    #leftboxbottom,
    #rightboxtop,
    #rightboxbottom {
        height: 170px;
        width: 255px;
    }
}

@media screen and (max-width: 850px) {
    /* !! horizontal scroll stops and page becomes vertical scroll !! */
    /* nav bar items need to jump to part of the page now rather than hide / unhide material */
    /* nav bar smaller */
    /* h1 */
    header {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    header h1 {
        font-size: 20px;
    }
    header h1 br {
        height: 100%;
        width: 100%;
        /* displ
        
        ay: inline;
    }
    main { */
        margin-top: 80px;
        padding: 0 4%;
    }
    main h2 {
        margin: 8px;
        padding: 8px 0;
        font-size: 20px;
    }
    /* height of sections disappears */
    section div.wrappertop {
        height: 100%;
    }
    /* general fonts smaller  */
    .about-me div,
    .projects-box,
    .skills li,
    .contact-me,
    footer {
        font-size: 14px;
    }
    /* about me p */
    .about-me-grid {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    /* icon bar arrows disappear */
    .icons-bar li.left,
    .icons-bar li.right {
        display: none;
    }
    .about-me .icons-bar,
    .contact-me .icons-bar {
        display: none;
    }
    /* ---------- */
    /* project pictures stack vertically */
    .boxesrow {
        display: inline-block;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 0px;
    }
    .boxesrow p {
        top: 10px;
    }
    /* ------------- */
    footer {
        margin-top: 10px;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    header {
        position: static;
    }
    #about-me,
    #contact-me,
    #projects,
    #skills {
        scroll-margin-top: 5px;
    }
    header ul {
        white-space: normal;
        display: block;
        padding: 5px
    }
    header ul li {
        display: block;
        font-size: 14px;
    }
    main {
        margin-top: auto;
        padding: 0 3%;
    }
    .about-me-grid div img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 360px) {
    main {
        padding: 0 0;
    }
}